<mat-card>

    <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        Inicio
    </button>
    <button>
        <mat-icon mat-list-icon>account_circle</mat-icon>
        Perfil
    </button>
    <button>
        <mat-icon mat-list-icon>list</mat-icon>
        Categorias
    </button>
    <button>
        <mat-icon mat-list-icon>add_circle_list</mat-icon>
        Agregar Categoria
    </button>
    <button>
        <mat-icon mat-list-icon>quiz</mat-icon>
        Cuestionario
    </button>
    
    <button>
        <mat-icon mat-list-icon>add</mat-icon>
        Agregar Cuestionario
    </button>
    <button>
        <mat-icon mat-list-icon>add_circle_list</mat-icon>
        Salir
    </button>
    
    
    </mat-action-list>
    
    </mat-card>