
<body>
    <!-- Sidebar -->
    <div class="main-wrapper slide-nav">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title"> 
                        <span>Menu</span>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-dashboard"></i> <span> Datos</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a class="active" routerLink="/admin">Home</a></li>
                        </ul>
                    </li>
                   
                    <li class="menu-title"> 
                        <span>POkemon's</span>
                    </li>
                    <li class="submenu">
                        <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Perfil de entrenador</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a routerLink="/admin/profile">Perfil</a></li>
                            <li><a href="holidays.html">Diplomas</a></li>
                            <li><a href="leaves.html">Cards <span class="badge badge-pill bg-primary float-right">1</span></a></li>
    
                        </ul>
                    </li>
                    <li  class="submenu"> 
                        <a href="#"><i class="la la-users"></i> <span>Asignaturas</span></a>
                        <ul style="display: none;">
                            <li><a routerLink="/admin/categoria-view">Categorias</a></li>
                            <li><a routerLink="/admin/categoria-add">Agregar Categorias</a></li>
    
                        </ul>
                    </li>
    
                   
                    <li class="menu-title"> 
                        <span>Alumnos</span>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="la la-graduation-cap"></i> <span> Examenes </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a routerLink="/admin/examen-view"> Examen </a></li>
                            <li><a routerLink="/admin/examen-add"> Agregar Examen </a></li>
                           
                        </ul>
                    </li>
                    
                    <li class="submenu">
                        <a href="#"><i class="la la-dashboard"></i> <span> Settings</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <button class="active" mat-list-item click="logout()"> <i class="la la-users"></i>Salir</button>
                             
                        </ul>
                    </li>
    
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->	
            <!-- jQuery -->
            <script src="assets/js/jquery-3.5.1.min.js"></script>
            
            <!-- Bootstrap Core JS -->
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            
            <!-- Slimscroll JS -->
            <script src="assets/js/jquery.slimscroll.min.js"></script>
            
            <!-- Chart JS -->
            <script src="assets/plugins/morris/morris.min.js"></script>
            <script src="assets/plugins/raphael/raphael.min.js"></script>
            <script src="assets/js/chart.js"></script>
            
            <!-- Custom JS -->
            <script src="assets/js/app.js"></script>
        </div>
    </body>       

    <!--
        <mat-card class="sliderbar">
    <mat-action-list>
        <div mat-subheader class="menu">Menu</div>
        <button mat-list-item routerLink="/admin"><mat-icon mat-list-icon>home</mat-icon>Inicio</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Perfil</button>
        <button mat-list-item routerLink="/admin/categoria-view"><mat-icon mat-list-icon>list</mat-icon>Categorias</button>
        <button mat-list-item routerLink="/admin/categoria-add"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar categorias</button>
        <button mat-list-item routerLink="/admin/examen-view"><mat-icon mat-list-icon>quiz</mat-icon>Cuestionarios</button>
        <button mat-list-item routerLink="/admin/examen-add"><mat-icon mat-list-icon>add</mat-icon>Agregar cuestionarios</button>
        <button mat-list-item click="logout()"><mat-icon mat-list-icon>logout</mat-icon>Salir</button>
    </mat-action-list>
</mat-card>
    -->