
<mat-toolbar color="purple">

<a
    [routerLink]=""
    mat-icon-button class="home"
    aria-label="Example home icon-button width menu icon"
 >   
    <mat-icon>home</mat-icon>
</a>
    


    <span>Pokedex</span>
    <span class="example-spacer"></span>

    <a  
    routerLink="/login"
    mat-icon-button class="example-icon favorite-icon"
    aria-label="Example  icon-button width heart icon" 
    >
        Iniciar Sesión
    </a>
    <a  
    routerLink="/singup"
    mat-icon-button class="example-icon favorite-icon mr20 ml70"
    aria-label="Example  icon-button width heart icon" 
    >
        Registrar pokemon
    </a>


  </mat-toolbar>
  